body,div,h1,h2,h3,h4,h5,h6, table{ 
    margin:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.heading{
	border: 3px solid white;
	padding: 10px;
	display:inline-block; 
}

.top{
	display: flex;
  	align-items: center; 
   	justify-content: center;
	margin: auto;
	width:100%;
	height:20vh;

	background-color: black;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bottom{
	margin: auto;
	width:50%;
	height:80vh;
	text-align: center;
	background-color: #e1e1e1;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: auto;
}

.error {
	color: red;
	font-size: 12px;
}

.table-visit-form{
	margin: auto;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:40%;
	font-size: 15px;
}

.table-list {
	margin: auto;
	border-collapse:separate;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:75%;
}

.table-list th {
	text-align: center;
	border-bottom:1px solid gray;
	background:#0984e3;
	padding:8px;
	color: #FFFFFF;
}

.table-list td {
	padding-left:5px;
}

.table-list td:first-child{
    width: 1%;
}


.table-list tr:nth-child(even) {background: #FFFFFF}
.table-list tr:nth-child(odd) {background: #b8dffc}	


.table-list-small{
	width:40%;
	text-align: center;
}

button:hover, input[type="submit"]:hover {
	border: 2px solid #0984e3;
	color: #0984e3;
}
